@import '~bulma';
@import "./customCheckbox.scss";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
$input-background-color: #224957;
$input-border-color: #224957;
$button-active-color: #ffffff00;
$iconSize: 4vh;
html,
body {
    font-family: 'Lexend Deca', sans-serif;
}

input::placeholder {
    color: white !important;
}

input {
    background-color: inherit;
}

input[type=checkbox] {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    padding: 10px;
}

.overlap-parent {
    position: relative;
    height: 80%;
    width: 70%;
}

.screen,
.screen-brighter {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.screen {
    background-color: #EFEFEF;
    border-radius: 20px;

}

.screen-brighter {
    background-color: #F6F6F6;
    border-radius: 20px;

}

.overlap-a {
    position: absolute;
    width: 55vw;
    height: 60vh;
    z-index: 100;
    left: 10%;
    top: 10%;
}

.overlap-b {
    position: absolute;
    width: 37vw;
    height: 37vh;
    z-index: 110;
    left: 83%;
    top: 55%;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.icon-doubleDown {
    height: $iconSize;
}

.home-text {
    margin-bottom: 5vh;
}

.home-p1-left {
    margin: auto;
    height: 70%;
    width: 35%;
    text-align: start;
}


.home-p1-wrapper {
    height: 90%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.home-p1-right {
    width: 65%;
    margin: 5vh 5vh 15vh 15vh;
}

.home-p1-right-header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    margin-top: 1vh;
}

.red-dot {
    background-color: #EC695F;
}

.green-dot {
    background-color: #60C553;
}

.yellow-dot {
    background-color: #F4BE4E;
}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: auto 0 auto 1.2vw;
}

.home-doubleDown {
    position: absolute;
    bottom: 20px;
}

.home-p1 {
    margin-top: 4vh;
    height: 84vh;
    width: 100vw;
}
.home-p2 {
    height: 100vh;
    width: 100vw;
}

.nav-logo {
    margin-left: 2vw;
    margin-top: 2vh;
    font-size: 0;
}

.nav-item {
    margin: 4vh 6vh 2vh 2vh;
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    font-size: 2.2vh;
}
.nav-item-dark {
    margin: 4vh 6vh 2vh 2vh;
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 2.2vh;
}

.purple-back,
.nav-purple {
    background-color: #A89CFF;
    color: white;
}

.nav-item-dark:active,
.nav-item-dark:focus,
.nav-item-dark:hover {
    color: white;
}

.nav-item-dark:active,
.nav-item-dark:focus,
.nav-item:active,
.nav-item:focus {
    border-color: rgba(255, 255, 255, 0);
}
.nav-item-dark:hover,
.nav-item:hover {
    border-color: rgba(255, 255, 255, 0);
}

.nav-bar-logo-p1 {
    font-family: 'Squada One', cursive !important;
    margin: 0;
    font-size: 5vh;
    color: #649b91;
}

.nav-bar-logo-p2 {
    font-family: 'Permanent Marker', cursive !important;
    font-size: 5vh;
    color: #000000;
}

.remember-me {
    font-size: 2vh;
    margin-right: 1vh;
}

.login-here {
    color: white;
    text-decoration: underline white;
}

.login-here:hover {
    color: rgb(180, 180, 180);
    text-decoration: underline rgb(180, 180, 180);
}

.login-forgot {
    color: #77B7AB;
    font-size: 2vh;
}

.login-forgot:hover {
    color: #649b91;
    font-size: 2vh;
}

.login-input-wrapper,
.register-input-wrapper {
    margin-bottom: 5vh;
}

.login-rem-lost-pass {
    display: flex;
    justify-content: space-between;
}

.login-button {
    width: 100%;
    border-radius: 20px;
    height: 6vh;
    font-size: 2vh;
}

.darkmode {
    background-color: #093545;
    color: white;
}

.darkmode-logo-p1 {
    color: #77B7AB;
}

.darkmode-logo-p2 {
    color: white
}
.dark-input {
    background-color: #224957 !important;
    color: white;
    border-color: #224957 !important;
    border-radius: 20px;
    height: 6vh;
    font-size: 2vh;

}


.pageWrapper {
    height: 100vh;
    width: 100vw;
}


.box-register {
    width: 40%;
    height: 50%;
    margin: auto;
}
hr {
    margin: 40px 0;
}

#nav {
    display: flex;
    justify-content: space-between;
}
